simulate = avalanches

[avalanche]
        n_runs = 100
        trace_photons = T

        # Limit avalanche simulation region
        # r_min = 0.0 0.0 0.0
        # r_max = 0.03 1e10 0.0

[input]
        mesh = vessel.binda
        material_name = material
        field_component_names = "E_r_gas", "E_z_gas"
        point_data_scaled_by_field = potential E_norm_gas
        axisymmetric = t
        field_scale_factor = 9.5e3
        transport_data_file = ../../input/transport_data/TD_N2_0.8_Phelps_O2_0.2_MuroranIT.txt
        ion_gamma = 1e-3 0.0

[gas]
        pressure = 200e-3

[output]
        name = vessel_result

[integral]
        max_dx = 1e-3

[photoi]
        enabled = t
