simulate = avalanches

[avalanche]
        n_runs = 100
        trace_photons = T

[input]
        mesh = needle_plate.vtu
        material_name = material
        field_component_names = "E_r", "E_z"
        point_data_scaled_by_field = potential E_norm
        axisymmetric = t
        field_scale_factor = 400
        # transport_data_file = ../../input/transport_data/TD_N2_0.8_Phelps_O2_0.2_MuroranIT.txt
        transport_data_file = ../../input/transport_data/TD_N2_0.8_Phelps_O2_0.2_Phelps.txt
        ion_gamma = 2.0e-2
        photoemission_gamma = 0.0

[gas]
        pressure = 1.0

[output]
        name = needle_plate_result

[integral]
        min_dx =  1.0000E-07
        max_dx = 1e-3
        boundary_distance = 1e-9

[photoi]
        enabled = t

